 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background-color: lightgray;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container{
  background: white;
  margin: 30px auto 0 auto;
  width: 1020px;
  line-height: 30px;
  background-color: none;
  border-radius: 6px;
  padding: 60px;
  height: 1500px;
  

  .angrycat {
    width: 900px;
    border: 1px solid lightgray;
    margin-left: 0px;
    margin-top: -10px;
    }
  .angrydog {
    width: 900px;
    border: 1px solid lightgray;
    margin-left: 0px;
    }
  
  h1 {
    font-size: 210px;
    margin-top: 10px;
    margin-left: -5px;
    width: 900px;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Patua One', cursive;
    line-height: 1;
    margin-bottom: 1px;
    text-transform: uppercase;
    color: hsla(0, 68%, 50%, 1);
    }
      h2 {
    font-size: 93px;
    margin-top: -20px;
    margin-left: -5px;
    width: 900px;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Patua One', cursive;
    line-height: 1;
    margin-bottom: 25px;
    text-transform: uppercase;
    }
    button {
        display: inline;
        width: 150px;
        height: 60px;
    }
}
.board {

      display: inline;
      width: 120px;
    }